#card_wrapper{
    width: 100%;
    display: flex;
    justify-content: start;
    margin-top: 50px;
}
.card{
width: 20%;
height: 10%;
background: #F0F0F3;
border: 0.774553px solid #848484;
box-sizing: border-box;
box-shadow: -3.09821px -3.09821px 9.29464px #FFFFFF, 7.74553px 7.74553px 23.2366px rgba(174, 174, 192, 0.4);
border-radius: 11.6183px;
padding: 10px;
margin-left: 5.5vw;
#title_w_img{
    display: flex;
    flex-direction: row;
    align-items: center;
}
h2{
    color:black;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 1px;
    margin-top: 0px;
}
#total{
    font-size: 70px;
    font-weight: 200;
    margin-top: 1px;
}
}