$black: black;

#SideBar_wrapper{
    width: 20vw;
    height: 100vh;
    background-color: $black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo{ 
    width: 70%;
    margin-top: 10%;
}
#menu_wrapper{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // margin-top: 50px;
}
.menus{
    margin-top: 10%;
    h4:hover{
        color: red;
        cursor: pointer;
    }
}